<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Basic Site Template</title>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>

    <body>
        <h1>Respostas recebidas</h1>



        {% for q, t, x, y, per in questions %}
            <h3> {{q}} </h3>
            {% comment %} <p> G= {{per}} </p> {% endcomment %}
            <div id="{{q}}" style="width:800px;height:600px;"></div>
            <script>
                {% comment %} var x = ["Apples","Apples","Apples","Organges", "Bananas"]
                var y = ["5","10","3","10","5"] {% endcomment %}

                var trace1 = {
                    y: {{x|safe}},
                    x: {{y|safe}},
                    text : {{per|safe}},
                    type: 'bar',
                    hoverinfo: 'none',
                    textposition: 'auto',
                    marker: {
                        line: {
                            width: 1.5
                        }
                    },
                    orientation: 'h'
                };

                var data = [trace1];

                var layout = {
                    barmode: 'group',
                    xaxis: {range: [0, 100]}
                };

                Plotly.newPlot('{{q}}', data, layout)
            </script>
        {% endfor%}

        {% comment %} <pre> {% filter force_escape %} {% debug %} {% endfilter %} </pre> {% endcomment %}

    </body>
</html>